/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li{
  list-style: none;
  display: inline-block;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration: underline;
}

img{
  object-fit: cover;
}

/* UTILITY */


/* Padding */
.pl-2{
  padding-left: 20px;
}

.px-1{
  padding: 0 10px;
}

.px-2{
  padding: 0 20px;
}

.px-3{
  padding: 0 30px;
}

.px-4{
  padding: 0 40px;
}

.px-5{
  padding: 0 50px;
}

.py-1{
  padding: 10px 0;
}

.py-2{
  padding: 20px 0;
}

.py-3{
  padding: 30px 0;
}

.py-4{
  padding: 40px 0;
}

.py-5{
  padding: 50px 0;
}

/* Margin */
.mx-1{
  margin: 0 10px;
}

.mx-2{
  margin: 0 20px;
}

.mx-3{
  margin: 0 30px;
}

.mx-4{
  margin: 0 40px;
}

.mx-5{
  margin: 0 50px;
}

.my-1{
  margin: 10px 0;
}

.my-2{
  margin: 20px 0;
}

.my-3{
  margin: 30px 0;
}

.my-4{
  margin: 40px 0;
}

.my-5{
  margin: 50px 0;
}

/* Larghezza e altezza */
.w-100{
  width: 100%;
}

.h-100{
  height: 100%;
}

.h-50{
  height: 50%;
}

/* Position */
.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.top-left{
  top: 0;
  left: 0;
}

/* Container */
.container{
  width: 90%;
  max-width: 1400px;
  min-width: 350px;
  margin: 0 auto;
}

/* Utility flex */
.flex-container{
  display: flex;
}

.justify-flex-end{
  justify-content: flex-end;
}

.flex-wrap{
  flex-wrap: wrap;
}

.self-center{
  align-self: center;
}

/* Header */
header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 80px;
  background-color: #FA6903;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

header a{
  color: white;
}

header .flex-container{
  align-items: center;
  justify-content: space-between;
}

header .container .top-left-menu{
  font-weight: 800;
}

/* Main */
main{
  margin-top: 80px;
}

.col{
  width: calc(100%/3);
  min-width: 350px;
  height: 720px;
  cursor: pointer;
}

.col .images img:last-of-type{
  display: none;
}

.col .images:hover img:last-of-type{
  display: block;
}

.card-infos .bottom-image-infos{
  bottom: 10px;
  left: 0;
  z-index: 1;
  color: white;
  font-weight: 800;
}

.card-infos .bottom-image-infos .discount{
  display: inline-block;
  background-color: red;
  padding: 5px 10px;
  margin-right: 5px;
}

.card-infos .bottom-image-infos .sustainability{
  display: inline-block;
  background-color: green;
  padding: 5px 10px;
}

.card-infos .favorite{
  right: 0;
  top: 10px;
  padding: 5px 15px;
  background-color: white;
  font-size: 40px;
}

.card-infos .favorite:hover{
  color: red;
}

.card-infos .card-undertext{
  top: 100%;
}

.card-undertext span{
  font-size: 14px;
}

.card-undertext .discounted-price{
  color: red;
  font-weight: 800;
}

.card-undertext .product-name{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
}

.card-undertext .original-price{
  text-decoration: line-through;
}

.card-undertext .price:after{
  margin-left: 3px;
  content: "\20AC";
}

/* Foooter */
footer{
  height: 150px;
  background-color: #1A1A1A;
  color: white;
}

footer .flex-container{
  align-items: center;
}

footer .left-footer-content{
  width: 85%;
}


footer nav.legal-menu ul li{
  padding-right: 10px;
}

footer nav.social-icons ul li a i{
  padding-right: 5px;
  font-size: 25px;
}